<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Teamway Test</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
    </nav>
  </div>
</header>